<h1>Вставка ссылки</h1>
<table>
    <tr>
        <td>Название:</td>
        <td><input type="text" name="name" size="40" /></td>
    </tr>
    <tr>
        <td>Ссылка:</td>
        <td><input type="text" name="url" size="40" value="http://" /></td>
    </tr>
    <tr colspan="2">
        <td>
            <input type="button" value="Вставить" class="parallel__modalwindow__submit" />
            <input type="button" value="Отменить" class="parallel__modalwindow__cancel" />
        </td>
    </tr>
</table>
 

 
