<ul class="parallel__toolbar">
    <li><a class="parallel__toolbar__bold" href="#" title="Жирный" /></li>
    <li><a class="parallel__toolbar__italic" href="#" title="Курсив" /></li>
    <li><a class="parallel__toolbar__strike" href="#" title="Зачеркнутый" /></li>
    <li><a class="parallel__toolbar__underline" href="#" title="Подчеркивание" /></li>
    <li><a class="parallel__toolbar__left" href="#" title="По левому краю" /></li>
    <li><a class="parallel__toolbar__center" href="#" title="По центру" /></li>
    <li><a class="parallel__toolbar__right" href="#" title="По правому краю" /></li>
    <li><a class="parallel__toolbar__ol" href="#" title="Нумерованный список" /></li>
    <li><a class="parallel__toolbar__ul" href="#" title="Ненумерованный список" /></li>
    <li><a class="parallel__toolbar__h1" href="#" title="Заголовок 1" /></li>
    <li><a class="parallel__toolbar__h2" href="#" title="Заголовок 2" /></li>
    <li><a class="parallel__toolbar__h3" href="#" title="Заголовок 3" /></li>
    <li style="display: none;" ><a class="parallel__toolbar__quote" href="#" title="Цитата" /></li>
    <li><a class="parallel__toolbar__img" href="#" title="Изображение" /></li>
    <li><a class="parallel__toolbar__link" href="#" title="Ссылка" /></li>
    <li><a class="parallel__toolbar__youtube" href="#" title="Видео" /></li>
</ul>
<div style="clear: left;"></div>
